* {
  /*Reset's every elements apperance*/
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589F;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}
:root{
  --primary-100:#4CAF50;
  --primary-200:#2a9235;
  --primary-300:#0a490a;
  --accent-100:#FFC107;
  --accent-200:#916400;
  --text-100:#333333;
  --text-200:#5c5c5c;
  --bg-100:#e6fbe3;
  --bg-200:#dcf1d9;
  --bg-300:#b4c8b1;
    
}

body{
  font-family: Arial, Helvetica, sans-serif;
}


.menu-container {
  display: flex;
  align-items: center;
  height: 200px;
  background-color: var(--bg-200);
  border-radius: 0px 0px 20px 20px;
  padding: 20px;
}



#logo{
  flex: 1;
  width: 12rem;
}

.search-container {
  flex: 2;
  align-items: center;
  justify-content: center;
}

.search-container input {
  width: 25rem;
  height: 3rem;
  border: solid 0.1rem var(--primary-200);
  border-radius: 50px;
}

.btn-search {
  border: 1px solid black;
}








.menu {
  display: flex;
  align-items: center;
  height: 200px;
  background-color: #333;
  padding: 10px;
}

.logo {
  padding: 10px;
  color: #fff;
  font-size: 24px;
  flex: 1;
}

.search-bar {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.search-bar button {
  padding: 8px 16px;
  background-color: #555;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.auth-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.auth-buttons button {
  padding: 8px 16px;
  background-color: #555;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.auth-buttons button:last-child {
  margin-left: 0;
}